{% extends "index.html" %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success my-2 my-sm-0" href="#">Upload Product <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success my-2 my-sm-0" href="https://127.0.0.1:5000/productListDisplay">Product List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a href="https://127.0.0.1:5000/registerRetailer"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout  </a>
    </form>
  </div>
</nav>

{% endblock %}

{% block content %}

{% endblock %}