{% extends "index.html" %}
{% block main %}
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">
  Login as Retailer
</button>
    </ul>
    <form action="/Searchproduct" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
    </form>
  </div>
   </nav>
       <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Retailer Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="registerRetailer" method="post">
            <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="Password">Password</label>
      <input type="password" class="form-control" name="Password">
    </div>
  </div>
             <div class="form-row">
    <div class="form-group col-md-6">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" name="companyName">
    </div>
    <div class="form-group col-md-6">
      <label for="displayName">Display Name</label>
      <input type="text" class="form-control" name="displayName">
    </div>
  </div>
  <div class="form-group">
    <label for="Address">Address</label>
    <input type="text" class="form-control" name="Address" placeholder="1234 Main St">
  </div>
            <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mobile">Mobile no </label>
      <input type="text" class="form-control" name="mobile">
    </div>
    <div class="form-group col-md-2">
      <label for="Suffix">Suffix</label>
      <input type="text" class="form-control" name="Suffix">
    </div>
                <div class="form-group col-md-2">
      <label for="Title">Title</label>
      <input type="text" class="form-control" name="Title">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="City">City</label>
      <input type="text" class="form-control" name="City">
    </div>
    <div class="form-group col-md-4">
      <label for="Country">Country</label>
      <<input type="text" class="form-control" name="Country">
    </div>
    <div class="form-group col-md-2">
      <label for="Zip">Zip</label>
      <input type="text" class="form-control" name="Zip">
    </div>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-primary">Register</button>
      </div>
           </form>

             </div>
      </div>
    </div>
  </div>
</div>
{% for content in context %}
 <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><button type="button" class="btn btn-outline-success"><b>Results nearest to you:</b></button></li>
  </ol>
<div class="card">
  <h5 class="card-header">{{content.companyName}}</h5>
  <div class="card-body">
    <p>Search Result:</p>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Distance</th>
    </tr>
  </thead>
  <tbody>
  <tr><td>{{content.product}}</td>
    <td>{{content.price}}</td>
    <td>{{content.distance}}</td>
  </tr>
  </tbody>
    </table>
    <a href="#" class="btn btn-primary">Watch Video</a>

     <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Buy Now</a>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Payment Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/payNow" method="post">
    <div class="form-group col-md-6">
      <label for="TotalAmt">Total Payable Amount:</label>
      <input type="text" placeholder="Enter Total Payable Amount" class="form-control" name="TotalAmt">
    </div>
    <div class="form-group col-md-6">
       <label for="Payment">Payment</label>
      <button type="submit" class="btn btn-primary">Pay Now</button>
    </div>
        </form>
  </div>
    </div>
</div>
    </div>
  </div>
</div>

{% endfor %}
 {% if TotalAmt %}
<div class="card border-success ">
  <div class="card-header bg-transparent border-success">Payment Status</div>
  <div class="card-body text-success">
    <h5 class="card-title">Payment is Sucess for Amount : {{TotalAmt}}</h5>
  </div>
  <div class="card-footer bg-transparent border-success">Within 5min Product till be Delivered contact : 678992138</div>
</div>
{% endif %}
</body>
{% endblock %}